html, body {
	background: #eee;
}
body {
	padding: 20px;
}
.container {
	max-width: 480px;
	margin: 0px auto;
}
.team {
	width: 50%;
	float: left;
	text-align: center;
}
.name {
	font-size: 24pt;
	padding-bottom: 20px;
}
.score {
	font-size: 48pt;
	color: green;
}
.set {
	color: red;
}
